<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  
  <footer class="bg-[#1f1f1f] text-white text-center py-4 w-full text-sm">
    <div class="space-y-2">
      <p>&copy; 2025 Zip Ride. All rights reserved.</p>
      <div class="space-x-2">
        <a href="#" class="text-sky-400 hover:text-amber-400 transition-colors">Privacy Policy</a> |
        <a href="#" class="text-sky-400 hover:text-amber-400 transition-colors">Terms of Service</a> |
        <a href="#" class="text-sky-400 hover:text-amber-400 transition-colors">Contact</a>
      </div>
    </div>
  </footer>

</body>
</html>
